In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [45]:
fuel = pd.read_csv("C:\\Users\\huber_15ivafg\\Documents\\Pandas kurs materia≈Çy\\course-files\\fuel.csv", low_memory=False, usecols=[ 'Vehicle ID','Year','Make','Model','Class','Fuel Type', 'Combined MPG (FT1)'], index_col='Vehicle ID')
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [46]:
 fuel.loc[27705, 'Class'] = np.nan
 fuel.loc[26561, 'Class'] = np.nan
 fuel.loc[27550, 'Fuel Type'] = np.nan
 fuel.loc[27705, 'Combined MPG (FT1)'] = np.nan
 fuel.loc[27681, 'Combined MPG (FT1)'] = np.nan

In [47]:
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,NaN,Regular,NaN
26561,1984,Alfa Romeo,Spider Veloce 2000,NaN,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,NaN
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,NaN,17.0

In [48]:
#fuel.fillna(value = (-1)).head()

In [49]:
#replaceRules = {'Class':'---', 'Fuel Type':'---', 'Combined MPG (FT1)':(-1)}
#fuel.fillna(value = replaceRules).head()

In [50]:
avgMPG = fuel['Combined MPG (FT1)'].mean()
avgMPG

np.float64(19.444177898424922)

In [51]:
#fuel['Class'].fillna('?',inplace=True)
#fuel['Fuel Type'].fillna('?',inplace=True)
#fuel['Combined MPG (FT1)'].fillna(avgMPG, inplace=True)
#fuel.head()

In [52]:
fuel['Combined MPG (FT1)'].ffill(inplace=True)
fuel.head()

C:\Users\huber_15ivafg\AppData\Local\Temp\ipykernel_3716\2652791065.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  fuel['Combined MPG (FT1)'].ffill(inplace=True)

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,NaN,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,NaN,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,NaN,17.0