In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
fuel = pd.read_csv("C:\\Users\\huber_15ivafg\\Documents\\Pandas kurs materia≈Çy\\course-files\\fuel.csv", low_memory=False, usecols=[ 'Vehicle ID','Year','Make','Model','Class','Fuel Type', 'Combined MPG (FT1)'], index_col='Vehicle ID')

In [16]:
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                31684 non-null  int64
 1   Make                31684 non-null  object
 2   Model               31683 non-null  object
 3   Class               31683 non-null  object
 4   Fuel Type           31683 non-null  object
 5   Combined MPG (FT1)  31683 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 8.9 MB

In [17]:
fuel['Year']=fuel['Year'].astype('int32')
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                31684 non-null  int32
 1   Make                31684 non-null  object
 2   Model               31683 non-null  object
 3   Class               31683 non-null  object
 4   Fuel Type           31683 non-null  object
 5   Combined MPG (FT1)  31683 non-null  float64
dtypes: float64(1), int32(1), object(4)
memory usage: 8.8 MB

In [18]:
fuel['Make'].value_counts()

Make
Chevrolet             3389
Ford                  2721
Dodge                 2361
GMC                   2174
Toyota                1599
                      ...
BYD                      1
CODA Automotive          1
Fisker                   1
McLaren Automotive       1
Mitsubish                1
Name: count, Length: 128, dtype: int64

In [19]:
fuel['Make'] = fuel['Make'].astype('category')
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                31684 non-null  int32
 1   Make                31684 non-null  category
 2   Model               31683 non-null  object
 3   Class               31683 non-null  object
 4   Fuel Type           31683 non-null  object
 5   Combined MPG (FT1)  31683 non-null  float64
dtypes: category(1), float64(1), int32(1), object(3)
memory usage: 6.9 MB

In [20]:
fuel['Class'] = fuel['Class'].astype('category')
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                31684 non-null  int32
 1   Make                31684 non-null  category
 2   Model               31683 non-null  object
 3   Class               31683 non-null  category
 4   Fuel Type           31683 non-null  object
 5   Combined MPG (FT1)  31683 non-null  float64
dtypes: category(2), float64(1), int32(1), object(2)
memory usage: 4.7 MB

In [21]:
fuel['Fuel Type'] = fuel['Fuel Type'].astype('category')
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                31684 non-null  int32
 1   Make                31684 non-null  category
 2   Model               31683 non-null  object
 3   Class               31683 non-null  category
 4   Fuel Type           31683 non-null  category
 5   Combined MPG (FT1)  31683 non-null  float64
dtypes: category(3), float64(1), int32(1), object(1)
memory usage: 2.8 MB

In [22]:
fuel['Combined MPG (FT1)'] = fuel['Combined MPG (FT1)'].astype('float32')
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                31684 non-null  int32
 1   Make                31684 non-null  category
 2   Model               31683 non-null  object
 3   Class               31683 non-null  category
 4   Fuel Type           31683 non-null  category
 5   Combined MPG (FT1)  31683 non-null  float32
dtypes: category(3), float32(1), int32(1), object(1)
memory usage: 2.7 MB

In [23]:
fuel['Model'] = fuel['Model'].astype('float32')
fuel.info(memory_usage='deep')

ValueError: could not convert string to float: 'GT V6 2.5'