In [1]:
import pandas as pd
import numpy as np
surveys = pd.read_csv("C:\\Users\\huber_15ivafg\\Documents\\Pandas kurs materia≈Çy\\course-files\\StackOverflowDeveloperSurvey2018.csv",
usecols=['Country','Gender','OperatingSystem'],
low_memory=False)
surveys.head()

          Country OperatingSystem Gender
0           Kenya     Linux-based   Male
1  United Kingdom     Linux-based   Male
2   United States             NaN    NaN
3   United States         Windows   Male
4    South Africa         Windows   Male

In [4]:
surveys['Country'].is_unique

False

In [6]:
surveys['Country'].unique()[:5]

array(['Kenya', 'United Kingdom', 'United States', 'South Africa',
       'Nigeria'], dtype=object)

In [7]:
len(surveys['Country'].unique())

184

In [8]:
surveys.Country.nunique()

183

In [14]:
duplicatesKeepFirst = surveys.duplicated(subset=['Country'])
duplicatesKeepFirst

0        False
1        False
2        False
3         True
4        False
         ...
98850     True
98851     True
98852     True
98853     True
98854     True
Length: 98855, dtype: bool

In [13]:
surveys[~duplicatesKeepFirst].head()

          Country OperatingSystem  Gender
0           Kenya     Linux-based    Male
1  United Kingdom     Linux-based    Male
2   United States             NaN     NaN
4    South Africa         Windows    Male
7         Nigeria         Windows  Female

In [20]:
surveys.drop_duplicates(subset=['Country', 'OperatingSystem'],inplace=True)