In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
frame = pd.read_csv("C:\\Users\\huber_15ivafg\\Documents\\Pandas kurs materia≈Çy\\course-files\\insurance.csv")

In [3]:
frame.head()

   ID  District   Group    Age  Holders  Claims
0   1         1     <1l    <25      197      38
1   2         1     <1l  25-29      264      35
2   3         1     <1l  30-35      246      20
3   4         1     <1l    >35     1680     156
4   5         1  1-1.5l    <25      284      63