In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [7]:
frame = pd.read_csv("C:\\Users\\huber_15ivafg\\Documents\\Pandas kurs materiały\\course-files\\Mcdonalds.csv")
series = pd.read_csv("C:\\Users\\huber_15ivafg\\Documents\\Pandas kurs materiały\\course-files\\Mcdonalds.csv",usecols=["Item","Calories"], index_col='Item').squeeze()

In [8]:
type(frame)

pandas.core.frame.DataFrame

In [9]:
type(series)

pandas.core.series.Series

In [10]:
frame.Calories.mean()

np.float64(368.2692307692308)

In [11]:
frame.Calories.idxmax()

82

In [12]:
frame.Item[82]

'Chicken McNuggets (40 piece)'

In [13]:
frame.Item[frame.Calories.idxmax()]

'Chicken McNuggets (40 piece)'

In [14]:
s  = frame["Item"]

In [16]:
type(s)

pandas.core.series.Series

In [18]:
s.head()

0                        Egg McMuffin
1                   Egg White Delight
2                    Sausage McMuffin
3           Sausage McMuffin with Egg
4    Sausage McMuffin with Egg Whites
Name: Item, dtype: object

In [20]:
frame.loc[242]

Category                             Smoothies & Shakes
Item                             Vanilla Shake (Medium)
Serving Size                               16 fl oz cup
Calories                                            660
Calories from Fat                                   170
TotalFat                                           19.0
Total Fat (% Daily Value)                            29
Saturated Fat                                      12.0
Saturated Fat (% Daily Value)                        61
Trans Fat                                           1.0
Cholesterol                                          75
Cholesterol (% Daily Value)                          24
Sodium                                              200
Sodium (% Daily Value)                                9
Carbohydrates                                       109
Carbohydrates (% Daily Value)                        36
Dietary Fiber                                         0
Dietary Fiber (% Daily Value)                         0
Sugars                                               81
Protein                                              14
Vitamin A (% Daily Value)                            25
Vitamin C (% Daily Value)                             0
Calcium (% Daily Value)                              50
Iron (% Daily Value)                                  0
Name: 242, dtype: object

In [22]:
frame[['Calories', 'Sugars','TotalFat']]

     Calories  Sugars  TotalFat
0         300       3      13.0
1         250       3       8.0
2         370       2      23.0
3         450       2      28.0
4         400       2      23.0
..        ...     ...       ...
255       510      64      17.0
256       690      85      23.0
257       340      43      11.0
258       810     103      32.0
259       410      51      16.0

[260 rows x 3 columns]